{% extends 'base.html' %}

{% block title %}Bands{% endblock %}

<!-- {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style-bands.css') }}">
{% endblock %} -->

{% block content %}
<h2> Create Show </h2>
    <form action="" method="post">
        <p>
            {{form.csrf_token}}
            {{form.venue.label}}
            {{form.venue()}}
        </p>
        <p>
            {{form.date.label}}
            {{form.date(size=30)}}
        </p>
        <p>
            {{form.time.label}}
            {{form.time(size=10)}}
        </p>
        <p>
            {{form.ticketprice.label}}
            {{form.ticketprice()}}
        </p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}