{% extends 'base.html' %}

{% block title %}Create Merch{% endblock %}

<!-- {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style-bands.css') }}">
{% endblock %} -->

{% block content %}
<h2> Create Merch </h2>
    <form action="" method="post">
        <p>
            {{form.type.label}}
            {{form.type()}}
        </p>
        <p>
            {{form.description.label}}
            {{form.description()}}
        </p>
        <p>
            {{form.price.label}}
            {{form.price()}}
        </p>
        <p>
            {{form.quantity.label}}
            {{form.quantity()}}
        </p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}