<!DOCTYPE html>
<html>
<body>

<h1>Edit Band</h1>

<form method="post">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="Band_Name" value="{{ band[1] }}"><br>
    <label for="location">Location:</label><br>
    <input type="text" id="location" name="Band_Location" value="{{ band[2] }}"><br>
    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="Band_Genre" value="{{ band[3] }}"><br>
    <label for="instagram">Instagram:</label><br>
    <input type="text" id="instagram" name="Band_Instagram" value="{{ band[4] }}"><br>
    <label for="contact_person">Contact Person:</label><br>
    <input type="text" id="contact_person" name="B_Contact_Person" value="{{ band[5] }}"><br>
    <label for="contact_number">Contact Number:</label><br>
    <input type="text" id="contact_number" name="B_Contact_Number" value="{{ band[6] }}"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>
