{% extends "base.html" %}

{% block title %}
    Edit Equipment {{record.Equipment_ID}}
{% endblock %}

{% block content %}
<h2>Edit Equipment {{record.Equipment_ID}} </h2>
    <form action="" method="post">
        <p>
            {{form.type.label}}
            {{form.type()}}
        </p>
        <p>
            {{form.cost.label}}
            {{form.cost()}}
        </p>
        <p>
            {{form.volunteer.label}}
            {{form.volunteer()}}
        </p>
        <p>
            {{form.vendor.label}}
            {{form.vendor()}}
        </p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}