{% extends "base.html" %}

{% block title %}
    Edit Band {{record.Band_ID}}
{% endblock %}

{% block content %}
<h2>Edit Band {{record.Band_ID}} </h2>
    <form action="" method="post">
        <p>
            {{form.name.label}}
            {{form.name()}}
        </p>
        <p>
            {{form.location.label}}
            {{form.location()}}
        </p>
        <p>
            {{form.genre.label}}
            {{form.genre()}}
        </p>
        <p>
            {{form.instagram.label}}
            {{form.instagram()}}
        </p>
        <p>
            {{form.contact.label}}
            {{form.contact()}}
        </p>
        <p>
            {{form.contactphone.label}}
            {{form.contactphone()}}
        </p>
        <p>{{form.submit()}}</p>
    </form>
{% endblock %}

