<!DOCTYPE html>
<html>
<body>

<h1>Bands</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Genre</th>
        <th>Instagram</th>
        <th>Contact Person</th>
        <th>Contact Number</th>
        <th>Action</th>
    </tr>
    {% for band in bands %}
    <tr>
        <td>{{ band[0] }}</td>
        <td>{{ band[1] }}</td>
        <td>{{ band[2] }}</td>
        <td>{{ band[3] }}</td>
        <td>{{ band[4] }}</td>
        <td>{{ band[5] }}</td>
        <td>{{ band[6] }}</td>
        <td>
            <a href="/get-band/{{ band[0] }}">Details</a>
            <a href="/edit-band/{{ band[0] }}">Edit</a>
            <a href="/delete-band/{{ band[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
