{% extends "base.html" %}

{% block title %}
    Merchandise
{% endblock %}

{% block content %}
<style>
    table {
        margin: auto;
    }

    form {
        display: grid;
        width: 10%; 
        margin: 0 auto; /* centers the form horizontally */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* adjust as needed */
    }

    a {
        color: #dddd; 
    }

    /* New styles added */
    .add-merch-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .add-merch-button {
        background-color: #555;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<!-- New button added -->
<div class="add-merch-container">
    <a href="{{ url_for('createmerch') }}" class="add-merch-button">Add Merch</a>
</div>

<table>
    <thead>
        <tr>
            <th><a href="{{ url_for('merch', sort='Merch_ID') }}">ID</a></th>
            <th><a href="{{ url_for('merch', sort='Merch_Type') }}">Type</a></th>
            <th><a href="{{ url_for('merch', sort='Merch_Description') }}">Description</a></th>
            <th><a href="{{ url_for('merch', sort='Merch_Price') }}">Price</a></th>
            <th><a href="{{ url_for('merch', sort='QuantityAvailable') }}">Quantity Available</a></th>
            <th>Vendor Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for merch in merchs %}
            <tr>
                <td>{{ merch.Merch_ID }}</td>
                <td>{{ merch.Merch_Type }}</td>
                <td>{{ merch.Merch_Description }}</td>
                <td>{{ merch.Merch_Price }}</td>
                <td>{{ merch.QuantityAvailable }}</td>
                <td>{{ merch.Vendor_Name }}</td>
                <td>
                    <a href="{{ url_for('editmerch', id=merch.Merch_ID) }}">Edit</a>
                    <form method="post" action="{{ url_for('delete_merch', id=merch.Merch_ID) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
