{% extends "base.html" %}

{% block title %}
    Bands
{% endblock %}

{% block content %}
<style>
    table {
        margin: auto;
    }

    form {
        display: grid;
        width: 10%; 
        margin: 0 auto; /* centers the form horizontally */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* adjust as needed */
    }

    a {
        color: #dddd; /* Or any color you prefer */
    }
</style>
<!-- <table>
    <thead>
        <tr>
            <th><a href="{{ url_for('bands', sort='Band_Name') }}">Name</a></th>
            <th><a href="{{ url_for('bands', sort='Band_Genre') }}">Genre</a></th>
            <th><a href="{{ url_for('bands', sort='Band_Location') }}">Location</a></th>
            <th><a href="{{ url_for('bands', sort='Band_Instagram') }}">Instagram</a></th>
            <th><a href="{{ url_for('bands', sort='B_Contact_Person') }}">Contact Person</a></th>
            <th><a href="{{ url_for('bands', sort='B_Contact_Number') }}">Contact Number</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for band in bands %}
            <tr>
                <td>{{ band.Band_Name }}</td>
                <td>{{ band.Band_Genre }}</td>
                <td>{{ band.Band_Location }}</td>
                <td>{{ band.Band_Instagram }}</td>
                <td>{{ band.B_Contact_Person }}</td>
                <td>{{ band.B_Contact_Number }}</td>
                <td>
                    <a href="{{ url_for('edit_band', id=band.Band_ID) }}">Edit</a>
                    <form method="post" action="{{ url_for('delete_band', id=band.Band_ID) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table> -->

{% endblock %}