{% extends "base.html" %}

{% block title %}
    Shows
{% endblock %}

{% block content %}
<style>
    table {
        margin: auto;
    }

    form {
        display: grid;
        width: 10%; 
        margin: 0 auto; /* centers the form horizontally */
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh; /* adjust as needed */
    }

    a {
        color: #dddd; 
    }

    /* New styles added */
    .add-show-container {
        display: flex;
        justify-content: center;
        padding: 20px 0;
    }

    .add-show-button {
        background-color: #555;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

<!-- New button added -->
<div class="add-show-container">
    <a href="{{ url_for('createshow') }}" class="add-show-button">Add Show</a>
</div>

<table>
    <thead>
        <tr>
            <th><a href="{{ url_for('shows', sort='Venue_ID') }}">Venue ID</a></th>
            <th><a href="{{ url_for('shows', sort='Event_Date') }}">Event Date</a></th>
            <th><a href="{{ url_for('shows', sort='Event_Time') }}">Event Time</a></th>
            <th>Event Merch</th>
            <th><a href="{{ url_for('shows', sort='Tickets_Sold') }}">Tickets Sold</a></th>
            <th><a href="{{ url_for('shows', sort='Ticket_Price') }}">Ticket Price</a></th>
            <th><a href="{{ url_for('shows', sort='Misc_Expenses') }}">Misc Expenses</a></th>
            <th><a href="{{ url_for('shows', sort='Total_Expenses') }}">Total Expenses</a></th>
            <th><a href="{{ url_for('shows', sort='Revenue') }}">Revenue</a></th>
            <th><a href="{{ url_for('shows', sort='Net') }}">Net</a></th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for show in shows %}
            <tr>
                <td>{{ show.Venue_ID }}</td>
                <td>{{ show.Event_Date }}</td>
                <td>{{ show.Event_Time }}</td>
                <td>
                    <a href="{{ url_for('eventmerch', id=show.Event_ID) }}">Edit Sales</a>
                </td>
                <td>{{ show.Tickets_Sold }}</td>
                <td>{{ show.Ticket_Price }}</td>
                <td>{{ show.Misc_Expenses }}</td>
                <td>{{ show.Total_Expenses }}</td>
                <td>{{ show.Revenue }}</td>
                <td>{{ show.Net }}</td>
                <td>
                    <a href="{{ url_for('editshow', id=show.Event_ID) }}">Edit</a>
                    <form method="post" action="{{ url_for('delete_show', id=show.Event_ID) }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
